body {
  margin: 0;
}
div {
  width: 175px;
  width: 175px;
  filter: grayscale(100);
  z-index: -1;
  opacity: 0.7;
}
img {
  width: 400px;
  height: 250px;
  border: 3px solid black;
  padding: 10px 10px 80px 10px;
  top: 40%;
}

div:hover {
  z-index: 1;
  filter: grayscale(0);
  transform: rotate(0deg);
  opacity: 1;
}
.everest {
  position: absolute;
  top: 500px;
  left: 490px;
  transform: rotate(399deg);
}
.k2 {
  position: absolute;
  top: 400px;
  left: 750px;
  transform: rotate(380deg);
}
.kangchenjunga {
  position: absolute;
  top: 180px;
  left: 980px;
  transform: rotate(-320deg);
}
.lhotse {
  position: absolute;
  top: 300px;
  left: 1000px;
  transform: rotate(-330deg);
}
